@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  margin: 0;
  font-family: "Bebas Neue", "Courier New"; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(0.25turn, #3f87a6, #cddbc1, #f69d3c);
  
}

code {
  font-family: 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}
